package ${package.Entity};

#foreach($pkg in ${importEntityJavaPackages})
import ${pkg};
#end

import lombok.Data;

/**
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${entity}Response implements Serializable {

    private static final long serialVersionUID = 1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if("$!field.comment" != "")
#if(${entityFieldUseJavaDoc})
    /**
     * ${field.comment}
     */
#end
#end
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------
}
