<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fudges.server.business.user.mapper.ModuleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.fudges.server.business.user.entity.ModuleInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="is_hide" property="hide" />
        <result column="unlock_level" property="unlockLevel" />
        <result column="icon_url" property="iconUrl" />
        <result column="web_url" property="webUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sort, is_hide, unlock_level, icon_url, web_url
    </sql>


</mapper>
